@import "tailwindcss";
@import "@flaticon/flaticon-uicons/css/all/all";

@theme {
  --color-primary: #10a7cd;
  --color-dark: #1f1f1f;
  --color-light-gray: #f3f3f3;
  --color-heading-text: #1d1d1d;
  --color-light: #fcfcfc;
}

@layer components {

  .section-layout {
    @apply grid col-span-1 gap-6 md:gap-10 text-base md:text-lg;
  }

  .section-heading {
    @apply text-5xl mb-2 font-extrabold tracking-tight text-slate-900 md:text-8xl md:mb-6 uppercase;
  }

  .card-title {
    @apply pb-2 font-bold text-lg md:text-2xl;
  }

  .input-field {
    @apply bg-gray-200 w-full rounded-md p-2 border-2 border-transparent 
           focus:border-primary outline-none 
           transition-all placeholder:text-gray-400;
  }
}
