---
import ProfileCard from "../components/ProfileCard.astro";
import Hero from "../sections/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../sections/Projects.astro";
import Skills from "../sections/Skills.astro";
import Contacts from "../sections/Contacts.astro";
---

<Layout title="Tomáš Greguš | Frontend developer">
  <div
    class="grid my-10 grid-cols-1 md:grid-cols-2 gap-8 md:gap-0 max-w-7xl mx-auto p-4 md:p-8 md:pt-20 text-base md:text-lg"
  >
    <aside class="md:sticky md:top-20 md:mt-5 h-fit">
      <ProfileCard />
    </aside>

    <main class="grid grid-cols-1 gap-20">
      <Hero />
      <Projects />
      <Skills />
      <Contacts />
    </main>
  </div>
</Layout>
