<form action="https://formspree.io/f/mkovnvjn" method="POST" class="grid gap-4">
  <div class="grid grid-cols-2 gap-2">
    <div class="grid gap-1.5">
      <label class="text-sm font-medium">Name:</label>
      <input
        type="text"
        name="name"
        required
        class="input-field"
        placeholder="Jméno a přijmení"
      />
    </div>

    <div class="grid gap-1.5">
      <label class="text-sm font-medium">E-mail:</label>
      <input
        type="email"
        name="email"
        required
        class="input-field"
        placeholder="mail@gmail.com"
      />
    </div>
  </div>

  <div class="grid gap-1.5">
    <label class="text-sm font-medium">E-mail:</label>
    <textarea
      class="input-field h-25"
      required
      name="message"
      placeholder="mail@gmail.com"></textarea>
  </div>

  <button
    type="submit"
    class="w-full bg-primary p-2 flex justify-center items-center rounded-md text-white font-bold"
    >Odeslat</button
  >
</form>
