---
import { Image } from "astro:assets";

interface Props {
  img: ImageMetadata;
  skill: string;
  text: string;
}

const { img, skill, text } = Astro.props;
---

<div class="flex gap-4 items-center w-full">
  <div class="w-20 h-20 p-4 pb-0 rounded-xl bg-gray-200">
    <Image 
    src={img}
    alt={skill}
    class="w-full"
    />
  </div>

  <div>
    <h3 class="card-title">{skill}</h3>
    <p>{text}</p>
  </div>
</div>
