---
import ContactForm from "../components/ContactForm.astro";
import githubIcon from "../assets/icons/github.png";
import linkedInIcon from "../assets/icons/linkedin.png"
import instagramIcon from "../assets/icons/instagram.png"
import { Image } from "astro:assets";
---

<section class="section-layout reveal">
  <h2 class="section-heading">GET IN TOUCH</h2>

  <ContactForm />

  <div class="flex gap-4 justify-between my-4">
    <div>
      <h3 class="card-title">Contacts</h3>
      <p>+420 737 863 412</p>
      <p>gregustomas@seznam.cz</p>
    </div>

    <div class="grid grid-cols-2 gap-2">
      <a href="https://github.com/gregustomas/">
        <Image src={githubIcon} alt="github" class="w-9 md:w-10" />
      </a>

      <a href="https://www.linkedin.com/in/tomas-gregus/">
        <Image src={linkedInIcon} alt="linkedin" class="w-9 md:w-10" />
      </a>

      <a href="https://www.instagram.com/tomasgregus1/">
        <Image src={instagramIcon} alt="instagram" class="w-9 md:w-10" />
      </a>
    </div>
  </div>
</section>
