---
import ContactForm from "../components/ContactForm.astro";


---

<div>
    <section class="grid col-span-1 gap-6 md:gap-10">
  <h2 class="text-5xl font-extrabold pb-4 md:text-8xl">GET IN TOUCH</h2>

  <ContactForm />
</section>
</div>