---
import { getCollection } from "astro:content";
import HighlightCard from "../components/HighlightCard.astro";

const highlight = await getCollection("highlight");
---

<section class="grid col-span-1 gap-6 md:gap-10 text-base md:text-lg">
  <div>
    <h1 class="text-5xl font-extrabold pb-4 md:text-8xl">
      FRONTEND
      <span class="text-primary">DEVELOPER</span>
    </h1>

    <p>
      Ahoj, jsem Tom. Junior frontend developer tvořící moderní weby a webové
      aplikace pomocí Reactu. Mojím cílem je budovat reálné a přínosné produkty
      a stát se fullstack MERN developerem.
    </p>
  </div>

  {
    highlight.map((i) => (
      <HighlightCard
        title={i.data.title}
        text={i.data.text}
        img={i.data.img}
        date={i.data.date}
      />
    ))
  }
</section>
