<section class="section-layout w-full">
  <div>
    <h1 class="section-heading md:text-8xl">
      FRONTEND
      <span class="text-primary">DEVELOPER</span>
    </h1>

    <p>
      I'm a software engineering student with a passion for web development. I
      build with Next.js and Astro, focusing on modern tech, clean code, and
      design that actually works.
    </p>
  </div>
</section>
