---
import SkillCard from "../components/SkillCard.astro";
import { getCollection } from "astro:content";

const allSkills = await getCollection("skills");
---

<section class="section-layout reveal">
  <h2 class="section-heading">TECH SKILLS</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
    {
      allSkills.map((i) => (
        <SkillCard skill={i.data.skill} text={i.data.text} img={i.data.img} />
      ))
    }
  </div>
</section>
